body{
    background-color: black;
}
.Animals h1{
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Animals p{
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Animals ol{ 
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Animals ol img{
    height: 100px;
}